<%- include('../blocks/header', {bot, user, path}) %>
<div class="row">
  <div class="col col-3">
    <%- include('../blocks/guild-card', {guild}) %>
  </div>
  <div class="col">
    <div class="card text-white mb-3" style="width: 100%;">
      <%- include('../blocks/guild-nav', {active: "stats", guild}) %>
      <table class="table table-hover">
        <div class="bg-info">
          <div class="card-body" width="100%">
            <p class="card-text">Stats Update every 5 sec</p>
          </div>
        </div>
        <thead>
          <tr>
            <th scope="col">Music Stats</th>
          </tr>
        </thead>
        <tbody>
          <% const settings = bot.getSettings(guild);
            const defaults = bot.config.defaultSettings;
            let text , queue;
            if(player) player.trackRepeat ? text = 'ON': text = 'OFF'
            if(player) player.queueRepeat ? queue = 'ON': queue = 'OFF'%>

          <tr>
            <th scope="row" class="list-group-item d-flex justify-content-between align-items-center"
              data-toggle="tooltip" title="Title"> Title </th>
            <td width="80%"><i class="fa fa-fw fa-music" aria-hidden="true"></i> <span class="col-5 text-nowrap"
                id="Title"><% if(player) { %> <%= player.queue[0].title %> <% } else { %>No Songs playing in
                server.<% }%></span></td>
          </tr>
          <tr>
            <th scope="row" class="list-group-item d-flex justify-content-between align-items-center"
              data-toggle="tooltip" title="Duration"> Duration </th>
            <td width="80%"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> <span class="col-5 text-nowrap"
                id="Duration"><% if(player) { %> <%= time %> <% } else { %>00:00 <% }%></span></td>
          </tr>
          <tr>
            <th scope="row" class="list-group-item d-flex justify-content-between align-items-center"
              data-toggle="tooltip" title="Queue"> Queue </th>
            <td width="80%"><i class="fa fa-fw fa-list" aria-hidden="true"></i> <span
                class="col-5 text-nowrap"><% if(player) { %> <%= player.queue.length %> <% } else { %>0 Songs in the
                queue.<% }%></span></td>
          </tr>
          <tr>
            <th scope="row" class="list-group-item d-flex justify-content-between align-items-center"
              data-toggle="tooltip" title="Volume"> Volume </th>
            <td width="80%"><i class="fa fa-fw fa-volume-up" aria-hidden="true"></i> <span
                class="col-5 text-nowrap"><% if(player) { %> <%= player.volume %> <% } else { %> 100 <% }%></span></td>
          </tr>
          <tr>
            <th scope="row" class="list-group-item d-flex justify-content-between align-items-center"
              data-toggle="tooltip" title="trackRepeat"> Track Repeat</th>
            <td width="80%"><i class="fa fa-fw fa-repeat" aria-hidden="true"></i> <span
                class="col-5 text-nowrap"><% if(player) { %> <%= text %> <% } else { %> OFF <% }%></span></td>
          </tr>
          <tr>
            <th scope="row" class="list-group-item d-flex justify-content-between align-items-center"
              data-toggle="tooltip" title="queueRepeat"> Queue Repeat</th>
            <td width="80%"><i class="fa fa-fw fa-repeat" aria-hidden="true"></i> <span
                class="col-5 text-nowrap"><% if(player) { %> <%= queue %> <% } else { %> OFF <% }%></span></td>
          </tr>
          <tr>
            <th scope="row" class="list-group-item d-flex justify-content-between align-items-center"
              data-toggle="tooltip" title="voiceChannel"> Voice Channel</th>
            <td width="80%"><i class="fa fa-fw fa-list" aria-hidden="true"></i> <span
                class="col-5 text-nowrap"><% if(player) { %> <%= player.voiceChannel.name %>
                (<%= player.voiceChannel.id %>)<% } else { %> Not connected to Voice Channel <% }%></span></td>
          </tr>
            %>
            %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include ../blocks/guild-modals %>
<script type="text/javascript">
  var guildID = "<%= guild.id %>";
  let title, time, vcchannel, Duration, Queue, Volume, queue_rep, repeat;

  function updateTable() {
    // Pass some identifier to use for your database
    $.ajax({
      url: `/dashboard/${guildID}/stats/json`,
      type: 'GET',
      success: function (res) {
        title =
          `<i class="fa fa-fw fa-music" aria-hidden="true"></i> <span class="col-5 text-nowrap"> ${res.data[0].name}</span>` ||
          `<i class="fa fa-fw fa-music" aria-hidden="true"></i><span class="col-5 text-nowrap"> No Songs playing in server.</span>`
        //time = `<i class="fa fa-fw fa-clock-o" aria-hidden="true"></i><span class="col-5 text-nowrap"> ${res.data[0].time}</span>` || '<i class="fa fa-fw fa-clock-o" aria-hidden="true"></i><span class="col-5 text-nowrap"> 00:00</span>'
        vcchannel =
          `<i class="fa fa-fw fa-list" aria-hidden="true"></i><span class="col-5 text-nowrap"> ${res.data[0].vschannel}</span>` ||
          '<i class="fa fa-fw fa-list" aria-hidden="true"></i><span class="col-5 text-nowrap"> Not connected to any voice channel</span>'
        Duration =
          `<i class="fa fa-fw fa-clock-o" aria-hidden="true"></i><span class="col-5 text-nowrap"> ${res.data[0].duration}</span>` ||
          '<i class="fa fa-fw fa-clock-o" aria-hidden="true"></i><span class="col-5 text-nowrap"> 00:00</span>'
        Queue =
          `<i class="fa fa-fw fa-list" aria-hidden="true"></i><span class="col-5 text-nowrap"> ${res.data[0].queue}</span>` ||
          '<i class="fa fa-fw fa-list" aria-hidden="true"></i> <span class="col-5 text-nowrap"> 0 Songs in the queue.</span>'
        Volume =
          `<i class="fa fa-fw fa-volume-up" aria-hidden="true"></i><span class="col-5 text-nowrap"> ${res.data[0].volume}</span>` ||
          '<i class="fa fa-fw fa-volume-up" aria-hidden="true"></i><span class="col-5 text-nowrap"> 100</span>'
        queue_rep =
          `<i class="fa fa-fw fa-repeat" aria-hidden="true"></i><span class="col-5 text-nowrap"> ${res.data[0].rep_queue}</span>` ||
          '<i class="fa fa-fw fa-repeat" aria-hidden="true"></i> <span class="col-5 text-nowrap"> OFF</span>'
        repeat =
          `<i class="fa fa-fw fa-repeat" aria-hidden="true"></i><span class="col-5 text-nowrap"> ${res.data[0].repeat}</span>` ||
          '<i class="fa fa-fw fa-repeat" aria-hidden="true"></i><span class="col-5 text-nowrap"> OFF</span>'
        $('tr:nth-of-type(1) > td').empty()
        $('tr:nth-of-type(1) > td').append(title)
        $('tr:nth-of-type(2) > td').empty()
        $('tr:nth-of-type(2) > td').append(Duration)
        $('tr:nth-of-type(3) > td').empty()
        $('tr:nth-of-type(3) > td').append(Queue)
        $('tr:nth-of-type(4) > td').empty()
        $('tr:nth-of-type(4) > td').append(Volume)
        $('tr:nth-of-type(5) > td').empty()
        $('tr:nth-of-type(5) > td').append(repeat)
        $('tr:nth-of-type(6) > td').empty()
        $('tr:nth-of-type(6) > td').append(queue_rep)
        $('tr:nth-of-type(7) > td').empty()
        $('tr:nth-of-type(7) > td').append(vcchannel)
        //  $('tr:nth-of-type(8) > td').empty()
        //  $('tr:nth-of-type(8) > td').append(time)
      }
    });

  }
  setInterval(updateTable, 5000);

  var ts = parseInt($('#guildCreate').text());
  $('#guildCreate').html(`${moment(ts).format('MMMM Do YYYY')}`);
</script>
<% include ../blocks/footer %>