<%- include('blocks/header', {bot, user, path}) %>
<div class="jumbotron">
  <h1 class="row justify-content-md-center"><%= bot.user.username %> Stats</h1>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-server" aria-hidden="true"></i> Servers:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.servers %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> Uptime:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.uptime %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Members:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.members %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> Memory:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.memoryUsage %> MB</strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-hashtag" aria-hidden="true"></i> Text Channels:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.text %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-microphone" aria-hidden="true"></i> Voice Channels:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.voice %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Discord.js Version:</div>
          <div class="col-5 text-nowrap"><strong>v<%= stats.dVersion %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Node.js Version:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.nVersion %></strong></div>
        </div>
    </div>
    <script type="text/javascript">
    let datas , usage ,servers ,members , text , voice ;
  function uptime(){
      // Pass some identifier to use for your database
      $.ajax({
    url: "/stats/data",
    type: 'GET',
    success: function(res) {
      datas = res.data[0].uptime
      
      $('div.justify-content-md-center.row:nth-of-type(2) > div.text-nowrap.col-5:nth-of-type(2) > strong').empty()
     $('div.justify-content-md-center.row:nth-of-type(2) > div.text-nowrap.col-5:nth-of-type(2) > strong').append(datas)

    }
  });
}  
function other(){
      // Pass some identifier to use for your database
      $.ajax({
    url: "/stats/data",
    type: 'GET',
    success: function(res) {
      servers = res.data[0].servers
      members = res.data[0].members
      text = res.data[0].text
      voice = res.data[0].voice
      usage = `${res.data[0].memoryUsage} MB`
      $('div.justify-content-md-center.row:nth-of-type(1) > div.text-nowrap.col-5:nth-of-type(2) > strong').empty()
     $('div.justify-content-md-center.row:nth-of-type(1) > div.text-nowrap.col-5:nth-of-type(2) > strong').append(servers)
     $('div.justify-content-md-center.row:nth-of-type(3) > div.text-nowrap.col-5:nth-of-type(2) > strong').empty()
     $('div.justify-content-md-center.row:nth-of-type(3) > div.text-nowrap.col-5:nth-of-type(2) > strong').append(members)
     $('div.justify-content-md-center.row:nth-of-type(5) > div.text-nowrap.col-5:nth-of-type(2) > strong').empty()
     $('div.justify-content-md-center.row:nth-of-type(5) > div.text-nowrap.col-5:nth-of-type(2) > strong').append(text)
     $('div.justify-content-md-center.row:nth-of-type(6) > div.text-nowrap.col-5:nth-of-type(2) > strong').empty()
     $('div.justify-content-md-center.row:nth-of-type(6) > div.text-nowrap.col-5:nth-of-type(2) > strong').append(voice)
     $('div.justify-content-md-center.row:nth-of-type(4) > div.text-nowrap.col-5:nth-of-type(2) > strong').empty()
     $('div.justify-content-md-center.row:nth-of-type(4) > div.text-nowrap.col-5:nth-of-type(2) > strong').append(usage)
    }
  });
}

   setInterval(uptime, 1000);
   setInterval(other, 1000 * 5);
   

    </script>
    <% include ./blocks/footer %>